.bato {
	background-color: #E51635;
	color: #FFFFFF;
}

.nav-link {
	color: #FFFFFF !important;
}

.card-deck {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-gap: .5rem;
	margin-bottom: auto;
}

.custbtn {
	background-color: #FF6347;
	color: #FFFFFF;
}

.custbtn:hover {
	color: #FFFFFF;
}

.mapb:hover {
	cursor: pointer;
}

.page-footer {
	overflow: hidden;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.btruck {
	color: #1B4F72;
}

.rup {
	color: #A52A2A;
}

.material-icons {
	vertical-align: middle;
}

.lau {
	vertical-align: top;
	color: #808080;
	font-size: 13px;
}

.ti {
	font-size: 80%;
}

.jumbotron {
	position: relative;
	background:
		url("https://images.unsplash.com/photo-1534398079543-7ae6d016b86a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
	width: 100%;
	height: 100%;
	background-size: cover;
	overflow: hidden;
}

.ffooc {
	color: #FFFFFF;
}

.fnam {
	font-size: 19px;
}

.list-group-item {
	font-size: 25px;
}

.cgray {
	color: #808080;
}

h1 {
	font-weight: 400;
}

.logc {
	width: 21rem;
}

.inval {
	display: block;
}
.custhov{
	cursor: pointer;
}
.design {
	vertical-align: 15%
}

.bg{
    background-image: url("https://images.unsplash.com/photo-1560520031-3a4dc4e9de0c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1373&q=80");
	height: 100%;
	min-height:900px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


